---
layout: default
title: Sergiu-Vlad Bonta's non-secret journal
permalink: /jrnl/
---

{% for post in site.posts %}
    {% if post.categories contains 'jrnl' %}
        <div class=post>
            {% if post.feature %}
            <p class=feature-image>
                <img src="{{ post.feature }}"/>
            </p>
            {% endif %}
            <h1 class=title><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <div class=content>
                {{ post.excerpt | markdownify }}
            </div>
            {% include post-meta.html %}
        </div>
    {% endif %}
{% endfor %}
