---
layout: default
title: Emaad Ahmed Manzoor's jrnl
permalink: /jrnl/
---

<ul class=jrnl>
{% for post in site.posts %}
    {% if post.layout == 'jrnl' %}
        <li>
            <ul class=jrnl-entry>
                <li class=jrnl-date>
                    <span class=time>
                        {{ post.date | date: "%I:%M %p" }}
                    </span>
                    <br/>
                    <span class=date>
                        {{ post.date | date: "%A. %B %d, %Y" }}
                    </span>
                </li>
                <li class=jrnl-content>
                    <span class=jrnl-title>{{ post.title }}</span>
                    {{ post.content | markdownify }}
                </li>
            </ul>
            <div style="clear: both;"></div>
        </li>
    {% endif %}
{% endfor %}
</ul>
