<div class=author-info>
    <img src="{{ site.author_image_path }}" class=author-image />
    <h1 class=author-name><a href=/>{{ site.author_name }}</a></h1>
    <div class=nav>
        <a href="{{ site.github_url }}"><i class=icon-github-alt></i></a>
        <a href="{{ site.twitter_url }}"><i class=icon-twitter></i></a>
        <a href="{{ site.linkedin_url }}"><i class=icon-linkedin></a></i>
        <a href="{{ site.feed_url }}"><i class=icon-rss></i></a>
    </div>
    <div class=home-nav>
        <ul>
            <li><a href="/blog/">Blog</a>
                &nbsp;|&nbsp;
                <a href="/jrnl/">jrnl</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/talks/">Talks</a></li>
            <li><a href="/service/">Service</a></li>
            <li>
                <a class=resume-link href="/resume.pdf">Resume</a>
                &nbsp;|&nbsp;
                <a class=resume-link href="/cv.pdf">CV</a><br/>
                <span class=resume-update>(Updated Apr. '15)</span>
            </li>
        </ul>
    </div>
</div>
